{{!-- <div class="section footer">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
      <img class="footer-star" src="/images/star.png" />
      </div>
    </div>
  </div>
</div>
 --}}
