<title>{{#if title}}{{title}}{{else}}Care4Today{{/if}}</title>

<link rel="stylesheet" href="/css/style.css" type="text/css"/>

<script type="text/javascript">
  var tonic = {
    contextManager: null
  };
  var dataLayer = [];
</script>
