{{!-- <header {{#ifEq nav.color 'white'}}class="nav-white"{{/ifEq~}}>
    <div class="container clear-fix">
      <a href="/" class="tonic-logo">
        {{>tonic-logo}}
      </a>
      <div class="mobile-menu-container">
        <div class="mobile-menu">
          <div class="centerline"></div>
        </div>
      </div>
      <nav>
        <ul class="nav-items">
          <li class="nav-item work-active transition-delay-01s {{#ifEq nav.active-tab 'work'}}active{{/ifEq~}}"><a href="/">Work</a></li>
          <li class="nav-item animate-active transition-delay-02s {{#ifEq nav.active-tab 'about'}}active{{/ifEq~}}"><a href="/about">About</a></li>
          <li class="nav-item animate-active transition-delay-03s {{#ifEq nav.active-tab 'careers'}}active{{/ifEq~}}"><a href="/careers">Careers</a></li>
          <li class="nav-item animate-active transition-delay-04s {{#ifEq nav.active-tab 'blog'}}active{{/ifEq~}}"><a href="http://tonicdesign.ghost.io/">Blog</a></li>
          <li class="nav-item animate-active transition-delay-05s {{#ifEq nav.active-tab 'contact'}}active{{/ifEq~}}"><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
</header>
 --}}
