<title>{{#if title}}{{title}}{{else}}Care4Today{{/if}}</title>

<link rel="stylesheet" href="/css/style.css" type="text/css"/>

<script type="text/javascript">
  window.onload = function() {
    $.get('//fonts.googleapis.com/css?family=Roboto:300,400,500,700', function (data) {
      $('head').append($('<style>').html(data));
    });
  }
</script>
<script src="/js/app.js" onload="require('initialize');" ></script>
<script type="text/javascript">
  var tonic = {
    contextManager: null
  };
  var dataLayer = [];
</script>
