@font-face {
    font-family: 'Karbon-Light';
    src: url('../fonts/Karbon-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Karbon-LightItalic';
    src: url('../fonts/Karbon-LightItalic.otf') format('opentype');
}
@font-face {
    font-family: 'Karbon-Medium';
    src: url('../fonts/Karbon-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Karbon-MediumItalic';
    src: url('../fonts/Karbon-MediumItalic.otf') format('opentype');
}
@font-face {
    font-family: 'Karbon-Regular';
    src: url('../fonts/Karbon-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Karbon-RegularItalic';
    src: url('../fonts/Karbon-RegularItalic.otf') format('opentype');
}
