@font-face {
    font-family: 'Karbon-Bold';
    src: url('fonts/Karbon-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Karbon-BoldItalic';
    src: url('fonts/Karbon-BoldItalic.otf') format('opentype');
}
@font-face {
    font-family: 'Karbon-Hairline';
    src: url('fonts/Karbon-Hairline.otf') format('opentype');
}
@font-face {
    font-family: 'Karbon-HairlineItalic';
    src: url('fonts/Karbon-HairlineItalic.otf') format('opentype');
}
@font-face {
    font-family: 'Karbon-Light';
    src: url('fonts/Karbon-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Karbon-LightItalic';
    src: url('fonts/Karbon-LightItalic.otf') format('opentype');
}
@font-face {
    font-family: 'Karbon-Medium';
    src: url('fonts/Karbon-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Karbon-MediumItalic';
    src: url('fonts/Karbon-MediumItalic.otf') format('opentype');
}
@font-face {
    font-family: 'Karbon-Regular';
    src: url('fonts/Karbon-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Karbon-RegularItalic';
    src: url('fonts/Karbon-RegularItalic.otf') format('opentype');
}
@font-face {
    font-family: 'Karbon-Semibold';
    src: url('fonts/Karbon-Semibold.otf') format('opentype');
}
@font-face {
    font-family: 'Karbon-SemiboldItalic';
    src: url('fonts/Karbon-SemiboldItalic.otf') format('opentype');
}
@font-face {
    font-family: 'Karbon-Thin';
    src: url('fonts/Karbon-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'Karbon-ThinItalic';
    src: url('fonts/Karbon-ThinItalic.otf') format('opentype');
}
