.footer {
  position: relative;
  background: repeating-linear-gradient(
    45deg,
    #40e0d0,
    #606dbc 40px,
    #465298 40px,
    #465298 80px
  );
  height: 100px;
}
.footer-star {
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  @media #{$min-768} {
    height: 150px;
  }
}
