// LAYOUT
//-----------------------------------------------------------------
html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.a-spot-section {
  height: 65vh;
  .container-condensed,
  .container {
    top: 50%;
    transform: translateY(-50%);
  }
  .column, .columns {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
section {
  position: relative;
  width: 100%;
  padding-top: 64px;
  @media #{$min-768} {
    padding-top: 128px;
  }
  &.no-inner-spacing {
    padding-top: 0;
  }
}
.container-condensed,
.container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0 32px;
  box-sizing: border-box;
  @media #{$min-768} {
    padding: 0 64px;
  }
  &:after {
    margin: 0;
    content: "";
    display: table;
    clear: both;
  }
}
.container {
  max-width: $container-max-width;
}
.container-condensed {
  max-width: $container-condensed-max-width;
}
.full-width-max-height {
  max-height: 720px;
}
.row {
  &:after {
    margin: 0;
    content: "";
    display: table;
    clear: both;
  }
}
.column, .columns {
  width: 100%;
  float: left;
  margin-bottom: 64px;
  @media #{$min-768} {
    margin-bottom: 128px;
    &.condensed-desktop-margin {
      margin-bottom: 64px;
    }
  }
  &.no-margin-bottom {
    margin-bottom: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
  @media #{$min-1024} {
    margin-left: 4%;
    &:first-child {
      margin-left: 0;
    }
  }
}
@media #{$min-768} {
  .columns.md-break {
    width: 48%;
    margin-left: 4%;
    &:nth-child(odd) {
      margin-left: 0;
    }
  }
}
@media #{$min-1024} {
  .columns.md-break {
    &:nth-child(odd) {
      margin-left: 4%;
    }
    &:first-child {
      margin-left: 0;
    }
  }
  .one.column, .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74.0%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .offset-by-one.column, .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }
  .offset-by-two.column, .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  .offset-by-three.column, .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column, .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-five.column, .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  .offset-by-six.column, .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column, .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  .offset-by-eight.column, .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-nine.column, .offset-by-nine.columns {
    margin-left: 78.0%;
  }
  .offset-by-ten.column, .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  .offset-by-eleven.column, .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }
}
// RATIO BOX BACKGROUND IMAGE
//-----------------------------------------------------------------
.ratio-box-sixteen-nine,
.ratio-box-responsive {
  position: relative;
}
.ratio-box-sixteen-nine:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.ratio-box-responsive:before {
  content: "";
  display: block;
  padding-top: 133.33%;
  @media #{$min-768} {
    padding-top: 100%;
  }
  @media #{$min-1024} {
    padding-top: 56.25%;
  }
}
.ratio-box-responsive-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .row {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.ratio-box-sixteen-nine-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
// CLEAR FIX
//-----------------------------------------------------------------
.clear-fix:after {
  content: "";
  display: table;
  clear: both;
}
// COLOR BACKGROUNDS
//-----------------------------------------------------------------
.white-background {
  background: $white;
}
.gray-background {
  background: $light-gray;
}
.black-section {
  background: $black;
  color: $white;
}

