#demo-columns {
  .column, .columns {
    background: $blue-gray-500;
    color: $white;
    text-align: center;
    border-radius: 5px;
    line-height: 40px;
    height: 40px;
  }
}
.demo-layout {
  margin-bottom: 0;
  .column, .columns {
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid $light-gray;
    background: $light-gray;
    margin-bottom: 20px;
    border-radius: 5px;
  }
}
.demo-colors {
  margin-bottom: 0;
  .column, .columns {
    box-sizing: border-box;
    border: 1px solid $light-gray;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .medium-gray-background {
    background: $medium-gray;
  }
  .dark-gray-background {
    background: $dark-gray;
  }
  .blue-gray-800-background {
    background: $blue-gray-800;
  }
  .blue-gray-500-background {
    background: $blue-gray-500;
  }
  .teal-a200-background {
    background: $teal-a200;
  }
  .error-background {
    background: $error;
  }
}
