html {
  font-size: 62.5%;
  text-size-adjust: 100%;
}
body {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-family: $karbon-regular;
  letter-spacing: 1px;
  color: $mine-shaft;
}
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 2rem;
}
h1 {
  font-family: $karbon-light;
  font-size: 3.8rem;
  line-height: 3.8rem;
  @media #{$min-768} {
    font-size: 6.0rem;
    line-height: 6.0rem;
  }
}
h2 {
  font-family: $karbon-medium;
  font-size: 3.6rem;
  line-height: 4.4rem;
  @media #{$min-768} {
    font-size: 3.6rem;
    line-height: 4.8rem;
  }
}
h3 {
  font-family: $karbon-light;
  font-size: 2.4rem;
  line-height: 3.2rem;
  @media #{$min-768} {
    font-size: 3.6rem;
    line-height: 4.8rem;
  }
}
h4 {
  font-family: $karbon-medium;
  font-size: 3.0rem;
  line-height: 3.6rem;
}
h5 {
  font-family: $karbon-medium;
  font-size: 2.2rem;
  line-height: 3.0rem;
  @media #{$min-768} {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }
}
h6 {
  font-family: $karbon-medium;
  font-size: 2.1rem;
  line-height: 2.8rem;
}
p {
  font-family: $karbon-regular;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
a {
  cursor: pointer;
  color: $denim;
  display: inline-block;
}
ul ul, ul ol, ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  list-style: disc;
  margin-left: 15px;
  margin-bottom: 1rem;
}
textarea,
select,
input {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
sup {
  top: -1rem;
  font-size: 60%;
  line-height: 0;
  position: relative;
}
strong {
  font-family: $karbon-medium;
}
// SET SPECIFIC COLOR
//-----------------------------------------------------------------
.gray-text {
  color: $gray;
}
.white-text {
  color: $white;
}
.blue-text {
  color: $cerulean;
}
.purple-text {
  color: $eminence;
}
.green-text {
  color: $apple;
}
.orange-text {
  color: $zest;
}

