// COLORS
//-----------------------------------------------------------------
$white: #FFFFFF;
$black: #000000;
$teal: #9acbcb;
$purple: #7e2e7a;

// FONTS
//-----------------------------------------------------------------
$lobster: 'Lobster', cursive;
$karbon-light: 'Karbon-Light', sans-serif;
$karbon-light-italic: 'Karbon-LightItalic', sans-serif;
$karbon-medium: 'Karbon-Medium', sans-serif;
$karbon-medium-italic: 'Karbon-MediumItalic', sans-serif;
$karbon-regular: 'Karbon-Regular', sans-serif;
$karbon-regular-italic: 'Karbon-RegularItalic', sans-serif;

// FONT WEIGHTS
//-----------------------------------------------------------------
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

// MEDIA QUERIES
//-----------------------------------------------------------------
$min-768: "only screen and (min-width : 768px)";
$min-1024: "only screen and (min-width : 1024px)";
$min-1280: "only screen and (min-width : 1280px)";
$min-1440: "only screen and (min-width : 1440px)";
$retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";
$container-max-width: 1400px;
