---
title: GRIT

og-title: GRIT
og-description: Girls Rocking In Tech
og-url:

page-class: grit-homepage
_options:
  layout: app/layouts/main.static.hbs

---
<div class="section center-vertically">

  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>Nickname</h3>
        <p>Trinidad</p>
        <h3>Hobbies</h3>
        <p>drawing &bull; reading &bull; writing &bull; playing violin</p>
        <h3>Intrests</h3>
        <p>sleeping &bull; youtube &bull; film</p>
      </div>
    </div>
  </div>
</div>
<div class="full-width-image" style="background-image:url(/images/wide-pic.png)"></div>
<div class="section center-vertically">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1 class="website-header">Favorite Websites</h1>
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <div class="link-container">
          <a href="htpps://www.youtube.com/"><img class="link-icon" src="/images/link-one.jpg" /></a>
          <h2 class="link-header">Thug Lyfe</h2>
        </div>
      </div>
      <div class="four columns">
        <div class="link-container">
          <a href="htpps://www.Wattpad.com/"><img class="link-icon" src="/images/link-two.jpg" /></a>
          <h2 class="link-header">Wattpad</h2>
        </div>
      </div>
      <div class="four columns">
        <div class="link-container">
          <a href="https://www.kissanime.com/"><img class="link-icon" src="/images/link-three.jpg" /></a>
          <h2 class="link-header">Anime</h2>
        </div>
      </div>
    </div>
  </div>
</div>


