---
_options:
  partials:
    - app/partials/head.static.hbs
    - app/partials/header.static.hbs
    - app/partials/footer.static.hbs
---
<!DOCTYPE html>
<html>
  {{>head}}
  <body>
    <div>
      <div id="page-container" {{#if page-class}}class="{{page-class}}"{{/if~}} {{#if page-type}}data-page-type="{{page-type}}"{{/if~}}>
        {{>header}}
        <main>
          {{content}}
          {{>footer}}
        </main>
      </div>
    </div>
  </body>
</html>
